
<div class="jumbotron jumbotron-fluid center-text d-flex mx-auto justify-content-center m-0"style="background-image: url('/images/404.png'); height:650px;background-repeat: no-repeat;background-size:contain;"">
  <div class="container">
    <h1 class="display-4">ERROR 404</h1>
    <p class="lead">The dog ate our website</p>
  </div>
</div>